@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header{
  width: 100%;
  height: 25vw;
  background: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // top: 0;
  // position: fixed;
  // z-index: 2;
  &__logo{
    width: 50vw;
    &--text{
      font-size: 1.5em;
      padding: 10px;
    }
  }
  &__hamburger{
    width: 30vw;
    height: 10vw;
    border: none;
    background: none;
    &--icon{
      width: 100%;
      height: 100%;
    }
  }
}
.header--js{
  display: none;
}
.title{
  width: 100%;
  height: 120vw;
  // height: 20vw;
  // background: yellow;;
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.562)),url(/assets/img/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
  // opacity: .6;
  &__img{
    width: 100%;
    opacity: .4;
    position: absolute;
  }
  &__text{
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    &--bold{
      margin: 0;
      font-weight: middle;
      font-size: 1.4em;
    }
    &--regular{
      margin: 0;
      font-weight: middle;
      font-size: 1.1em;
    }
  }
}
.nav{
  width: 100%;
  height: 100vh;
  display: none;
  &__close{
    width: 95%;
    height: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    &--cross{
      width: 10%;
      height: 70%;
      border: none;
      background: none;
      margin-right: 20px;
    }
    &-icon{
      width: 100%;
      height: 100%;
    }
  }
  &__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--link{
      text-decoration: none;
      color: $black;
      &-item{
        font-size: 1.4em;
        padding: 19px;
      }
    }
  }
}
.nav--js{
  display: block;
}
.eat{
  &__title{
    font-weight: lighter;
    font-size: 1.5em;
  }
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  &__option{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    &--header{
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &--icon{
      width: 40px;
      height: 40px;
      border: none;
      background: none;
      &-img{
        width: 100%;
        height: 100%;
      }
    }
  }
  &__description{
    width: 70vw;
    color: rgba(255, 255, 255, 0.589);
    // border-bottom: 2px solid $white;
    // display: none;
    &--text{
      margin: 0;
    border-bottom: 1px solid $white;
    padding-bottom: 10px;

    }
  }
  // &__description--js{
  //   display: block;
  // }
}
.open{
  width: 100%;
  background: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__header{
    width: 100%;
    display: flex;
    justify-content: center;
    &--title{
      margin-bottom: 0;
    }
  }
  &__content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    &--box{
      width: 200px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      &-day{
        margin: 0;
      }
      &-hour{
        margin: 0;
      }
    }
  }
}
.contact{
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__header{
    padding: 20px;
    &--title{
      margin: 0;
      font-weight: lighter;
      font-size: 1.5em;
    }
  }
  &__box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid $yellow;
    padding: 20px;
    &--adress{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      &-item{
        margin: 5px;
        text-decoration: none;
        color: $white;
      }
    }
    &--socials{
      display: flex;
      justify-content: space-around;
      width: 160px;
      padding: 20px;
    }
    &--icon{
      width: 40px;
      height: 40px;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &-img{
        width: 60%;
        height: 60%;
      }
    }
  }
  &__message{
    // width: 200px;
    // height: 300px;
    // background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--form{
      padding: 20px;
      display: flex;
      flex-direction: column;
      &-button{
        width: 90px;
        height: 40px;
        background: $yellow;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
        margin: 30px auto;
      }
    }
  }
}
.footer{
  width: 100%;
  background: $yellow;
  color: $black;
  padding: 20px;
  &__text{
    margin: 0;
    text-align: center;
  }
}