@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header{
  width: 100%;
  height: 25vw;
  background: $yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    width: 50vw;
    &--text{
      font-size: 1.5em;
      padding: 10px;
    }
  }
  &__hamburger{
    width: 30vw;
    height: 10vw;
    &--icon{
      width: 100%;
      height: 100%;
    }
  }
}
.header--js{
  display: none;
}
.title{
  width: 100%;
  // height: 20vw;
  // background: yellow;;
  // background-image: url('/assets/img/bg.jpg');
  &__img{
    width: 100%;
    opacity: .4;
    position: absolute;
  }
  &__text{
    position: absolute;
    width: 100%;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--bold{
      margin: 0;
      font-weight: middle;
      font-size: 1.4em;
    }
    &--regular{
      margin: 0;
    }
  }
}
.nav{
  width: 100%;
  height: 100vh;
  display: none;
  &__close{
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    &--icon{
      width: 30%;
      height: 50%;
      right: 0;
    }
  }
  &__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--item{
      font-size: 1.4em;
      padding: 20px;
    }
  }
}
.nav--js{
  display: block;
}